* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
        /* Colors */
        --color-gray-100: #292929;
        --color-gray-200: #242424;
        --color-gray-300: rgba(41, 41, 41, 0.5);
        --color-gray-400: rgba(255, 255, 255, 0);
        --color-gray-500: rgba(255, 255, 255, 0.4);
        --color-darkslategray: #3d3d3d;
        --color-white: #fff;
        --border-yellow: #FFC453;
        --border-green: #29E489;
        --border-black:#29292980;
        /* fonts */
        --font-inter: Inter;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: normal;
    background-color: var(--color-gray-100);
}
h1 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}
h2 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}
h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}
h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: var(--color-white);
}
h5 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
a {
    text-decoration: none;
}
.pl-6 {
    padding-left: 6px;
}
.text {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: var(--color-gray-500);

}
.container {
    width: 100%;
}

.safe-width {
    max-width: 1280px;
    margin:0 auto;
}

.main {
    display: flex;
    gap: 16px;
    padding: 16px;
}
.card {

}

/* left-box */
.left-box {
    display: flex;
    flex-basis: 416px;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 18px;
}
/* weather-box */
.left-box .weather-box {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    height: max-content;
    min-height: 178px;
    border-radius: 16px;
    padding: 16px;
    color: var(--color-white);
    background-color: var(--color-darkslategray);
    box-shadow: 0px 0px 2px 0px #0000001F, 0px 4px 8px 0px #00000024;
}
.left-box .weather-box .weather-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-box .weather-box .weather-icon{
    margin-bottom: -9px;
}
.left-box .weather-box .weather-icon img {
    display: block;
    width: 100%;
    height: auto;
}
/* date-box */
.left-box .date-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    min-height: 194px;
    border-radius: 16px;
    padding: 16px;
    color: var(--color-white);
    background-color: var(--color-darkslategray);
    box-shadow: 0px 0px 2px 0px #0000001F, 0px 4px 8px 0px #00000024;
}
.date-box ul li:first-child {
    padding-left: 12px;
    border-left:2px solid var(--border-yellow);
    margin-bottom: 10px;
}
.date-box ul li:last-child {
    padding-left: 12px;
    border-left:2px solid var(--border-green);
}
/* email-box */
.left-box .email-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    border-radius: 16px;
    padding: 16px;
    color: var(--color-white);
    background-color: var(--color-darkslategray);
    box-shadow: 0px 0px 2px 0px #0000001F, 0px 4px 8px 0px #00000024;
    min-height: 266px;
}
.left-box .email-box ul li {
    display: flex;
    align-items: center;
    border-bottom:1px solid #29292980;
}
.left-box .email-box ul li:last-child {
    border-bottom: none;
}
.left-box .email-box ul li img {
    display: block;
}
.left-box .email-box ul li div h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 336px;
}
.email-box .image {
    margin-left: -10px;
    margin-top: 5px;
}
/* right-box */
.right-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    /* flex-basis: 848px; */
    border: 2px solid red;
}
/* news-box */
.news-box {
    display: flex;
    flex-basis: 848px;
    flex-direction: column;
    border-radius: 16px;
    gap: 16px;
    padding: 16px;
    color: var(--color-white);
    background-color: var(--color-darkslategray);
    box-shadow: 0px 0px 2px 0px #0000001F, 0px 4px 8px 0px #00000024
}
.news-box .navbar ul {
    display: flex;
    gap: 10px;
}
.news-box .news-img {
    position: relative;
}
.news-box .news-img .news-text {
    position: absolute;
    padding: 16px;
    bottom:16px;
    left: 16px;
    right: 16px;
    border-radius: 8px;
    background-color:#00000063;
    backdrop-filter: blur(8px);
}
.news-box .news-img .news-text > p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
.news-box .news-img img {
    display: block;
    width: 100%;
    height: 320px;
    border-radius: 8px;
    object-fit: cover;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-gray-200);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: none;
    outline: none;
}
.active {
    background-color: var(--color-gray-100);
    box-shadow:0px 0px 2px 0px #0000001F, 0px 4px 8px 0px #00000024;
    color: var(--color-white);
}
.btn:hover {
    background-color: var(--color-gray-100);
    color: var(--color-white);
    box-shadow:0px 0px 2px 0px #0000001F, 0px 4px 8px 0px #00000024;
}





@media screen and (max-width: 430px) {
    body {
        padding: 33px 16px;
    }
    .main {
        flex-wrap: wrap;
    }
    .news-box {
        display: none;
    }
}