* {
    box-sizing: border-box;
}
:root {
        /* Colors */
        --color-gray-100: #292929;
        --color-gray-200: #242424;
        --color-gray-300: rgba(41, 41, 41, 0.5);
        --color-gray-400: rgba(255, 255, 255, 0);
        --color-gray-500: rgba(255, 255, 255, 0.4);
        --color-darkslategray: #3d3d3d;
        --color-white: #fff;
        /* fonts */
        --font-inter: Inter;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: normal;
}